/*GENERAL*/
* {
    width: auto;
    margin: auto;
}

body {
    background-color: gray
}

.section {
    background-image: ;

}

/*HEADER*/
.navbar-nav {
    border : black solid 3px

}

/*MEDIA QUERIES*/
@media screen and (max-width: 640px) {

}