* {
    width: auto;
    margin: auto;
}

body {
    background-color: black;
}

.section {
    width: 100%;
    background-color: black;

}

/*MEDIA QUERIES*/
@media screen and (max-width: 640px) {

}